# Database Configuration
DB_HOST=db.efpckttwfbrpwuqhuten.supabase.co
DB_NAME=ubumenyi_bwubugeni
DB_USER=postgres
DB_PASS=dNqiFjfLfRPEcnqd
DB_PORT=5432

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dncja0ipr
CLOUDINARY_API_KEY=277985471555767
CLOUDINARY_API_SECRET=qyYkr5TBfTDGKqx_8CBeoOtuSf4
CLOUDINARY_URL=CLOUDINARY_URL=cloudinary://277985471555767:qyYkr5TBfTDGKqx_8CBeoOtuSf4@dncja0ipr

# Site Configuration
SITE_URL=http://localhost:8080
SITE_NAME=UbugeniPalace
